h1{
    font-size: 75px;
    font-weight: normal;
    margin: 0%;
}
p,
#selects,
#radio,
#select-second,
#checkbox,
#comment{
    font-size: 24px;
}
#name,
#surname,
#email{
  height: 30px;
  width: 250px;
}
.text-area{
    font-size: 14px;
}